h1 {
    color: rosybrown;
    font-size: 50px;
    text-align:center;

}
div#calculator{
    color: white;
    font-size: 35px;
    width: 600px;
    background-color: rgb(21, 212, 225);
    border-radius: 25px;
    padding: 20px;
    margin: auto;
}
label{
    display:inline-block;
    width: 300px;
    margin-right: 25px;
    padding: 15px;
}

input{
    margin-right: 50px;
    width: 100px;
    height: 25px;
    padding: 2.5px 40px;
    text-align: center;
}

#btn{
    background-color: rgb(236, 46, 46);
    color: white;
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 35px;
    font-size: 25px;
    margin: 10px 200px 5px 200px;
}